<p id="notice"><%= notice %></p>

<h1>Coins</h1>

<!-- Renders the form and passes @gainers through as local variable 'table' -->
<%= render partial: "table", object: @gainers %>

<!-- Renders the form and passes @losers through as local variable 'table' -->
<%= render partial: "table", object: @losers %>




<%= link_to 'New Coin', new_coin_path %>
